<footer>
    <div class="container">
        <div class="content">
            <div>
                <h5>About StaySphere</h5>
                <p class="small">
                    StaySphere is a modern platform for discovering and booking stays across the world. It offers
                    user-based listings, reviews, and customizable filters to ensure the best travel experience.
                </p>
            </div>

            <div>
                <h5>About Me</h5>
                <ul class="list-unstyled">
                    <li><strong>Name:</strong> &nbsp; Rishu Kumar</li>
                    <li><strong>Developer:</strong> &nbsp; BCA Student</li>
                    <li><strong>Email:</strong>&nbsp; rishukumar9233@gmail.com</li>
                </ul>
            </div>

            <div class="socials-link">
                <h5>Follow Me</h5>
                <div>
                    <a href="https://linkedin.com/in/rishukumarcodes"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/rishu_kumar878"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://github.com/rishukumarcodes"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <p class="small mb-0">© 2024 StaySphere. All rights reserved.</p>
    </div>
</footer>